# Advent of Code Day 1

### Task1

Task text:

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

In [8]:
#Create list for the expense report
expense_report = [1384,	1396,	1072,	1903,	1387,	1763,	1600,	1862,	1992,	1585,	1909,	1352,	1288,	1910,	1070,	1421,	1802,	1669,	1059,	1235,	1854,	1722,	1275,	198,	1476,	1588,	1708,	1217,	1596,	1355,	1566,	1973,	1335,	1480,	1115,	1272,	1998,	1821,	2007,	1721,	1885,	1420,	1412,	1487,	1941,	1835,	1558,	1061,	1582,	1940,	1942,	1210,	1350,	1175,	1047,	1456,	1548,	1110,	1510,	1995,	1644,	1968,	1297,	1198,	1471,	1360,	1363,	1528,	1393,	1365,	1837,	1886,	2001,	1161,	1349,	1787,	988,	1331,	1960,	1607,	1324,	97,	1986,	1955,	1773,	1443,	1852,	1368,	1050,	1378,	1239,	1750,	1868,	816,	1965,	1661,	1728,	1981,	984,	1037,	1525,	1789,	1318,	1952,	1359,	1358,	1869,	1641,	1240,	1542,	1959,	1022,	1475,	1733,	1081,	1889,	1138,	1757,	1736,	1723,	1543,	1820,	1128,	1039,	1683,	1477,	1375,	1499,	676,	1195,	1250,	220,	1581,	1328,	1187,	1485,	1216,	1769,	1139,	1064,	1908,	1516,	1490,	1419,	1749,	1347,	1758,	1024,	1053,	1842,	1861,	1403,	1966,	1546,	1134,	1593,	1734,	1916,	1867,	1101,	1126,	1301,	1841,	1515,	1244,	1401,	1637,	1054,	1309,	1933,	1512,	1263,	1815,	1634,	1823,	1295,	1583,	1104,	1765,	1850,	1311,	1692,	1905,	1149,	1780,	1330,	1666,	996,	1913,	1140,	1089,	1484,	1356,	1296,	1323,	1160,	1881,	1123,	1166,	1929]

def calc_expenses():
    for n in expense_report:
        for y in expense_report:
            if n + y == 2020:
                print("The two values are:")
                print(n,y)
                print("The multiplaction of the two values are")
                print(n*y)
                return
calc_expenses()

The two values are:
1024 996
The multiplaction of the two values are
1019904

### Task2

Task text:

The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [9]:
def calc_expenses2():
    for n in expense_report:
        for y in expense_report:
            for x in expense_report:
                if n + y + x == 2020:
                    print("The thee values are:")
                    print(n,y,x)
                    print("The multiplaction of the three values are")
                    print(n*y*x)
                    return

calc_expenses2()

The thee values are:
816 984 220
The multiplaction of the three values are
176647680